<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195961268898-u9s2sjdrsvke6cemo1f50j1n3krlta84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195961268898-u9s2sjdrsvke6cemo1f50j1n3krlta84</string>
	<key>API_KEY</key>
	<string>AIzaSyCyC_4mbnbh56hWG-nYNZ5VAuzp1QIDGv8</string>
	<key>GCM_SENDER_ID</key>
	<string>195961268898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quinmat.qmtManager</string>
	<key>PROJECT_ID</key>
	<string>quinmat-project</string>
	<key>STORAGE_BUCKET</key>
	<string>quinmat-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195961268898:ios:344f2380a8eab1f29e05fb</string>
</dict>
</plist>